.signOut_container{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#ad78f3;
    font-weight: bold;
}


.signOut_saludo{

}


.signOut_button{
    margin:0 2rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: #ad78f3;
    color: #fff;
}

.signOut_button:hover{
    background-color: #b2b2b2;
    color: #111;
    
}